{% extends 'graphs/base.html' %}

{% block body %}

    <h1>Graph Builder</h1>
    <button type="button" id="add_value" class="btn btn-light">+</button>

    <br/><br />

    <div class="row" id="value_div">

    </div>

    <style>

        body {
            margin-top: 50px;
            text-align: center;
        }

        .row {
            margin-left: 5px;
        }

    </style>

        <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>

    <script>

        let count = 1;

        $('#add_value').on('click', function () {
            let value_html = '<div class="col-md-2">' +
                '<div class="input-group input-group-sm mb-6">' +
                '<div class="input-group-prepend">' +
                '<span class="input-group-text" style="margin-top: 5px;" id="inputGroup-sizing-sm">Value ' + count + '</span>' +
                '</div>' +
                '<input type="text" class="form-control" aria-describedby="inputGroup-sizing-sm" style="margin-top: 5px;">' +
                '</div>' +
                '</div>';

            $('#value_div').append(value_html);
            count++;
        })


    </script>

{% endblock %}
